.shopContainer{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.padding{
    padding: 40px;
}
.productContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 100px 50px;
}
.cartContainer{
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: #c4d5f7;
    padding: 0 20px;
}
@media screen and (max-width:600px) {
    .productContainer{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width:900px) {
    .productContainer{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:1101px) {
    .productContainer{
        grid-template-columns: repeat(2, 1fr);
    }
}